.wrapper {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 5vh 10vw;
  align-items: center;
  padding: 0 1vw;
}

.wrapper p {
  color: white;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
.wrapper div:hover {
  cursor: pointer;
}
